<!-- Navigation Links -->
<style>
    .links {
        grid-area: heading;
        width: 100%;
        margin-bottom: 16px;
        color: rgb(243, 243, 243);

        /* Span all columns */
    }

    a {
        color: rgb(243, 243, 243);
    }

    a:hover {
        color: rgb(143, 143, 233);
    }

    .active {
        font-weight: bold;
        /*active link */
        color: rgb(143, 143, 233);
    }
</style>
<span class="links">
    >>
    <a href="{{ url_for('fornecedores')}}" {% if request.path==url_for('fornecedores') %}class="active" {% endif
        %}>Fornecedores</a> /
    <a href="{{ url_for('materiasPrimas')}}" {% if request.path==url_for('materiasPrimas') %}class="active" {% endif
        %}>Materias Primas</a> /
    <a href="{{ url_for('inventario')}}" {% if request.path==url_for('inventario') %}class="active" {% endif
        %}>Inventario</a> /
    <a href="{{ url_for('compras')}}" {% if request.path==url_for('compras') %}class="active" {% endif
        %}>Compras</a> /
    <a href="{{ url_for('historico')}}" {% if request.path==url_for('historico') %}class="active" {% endif
        %}>Historico</a> /
        <a href="{{ url_for('receitas')}}" {% if request.path==url_for('receitas') %}class="active" {% endif
        %}>Receitas</a> /

</span>